<div class="container-fluid">
  <aside class="sidebar">
    <h1>Game leader board</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of game.teams">
          <td>{{team.teamLeader}}</td>
          <td>{{team.points}}</td>
        </tr>
      </tbody>
    </table>
  </aside>
  <aside class="sidebar2">
    <h1>Team leader board</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of game.teams[0]?.players">
          <td>{{player.name}}</td>
          <td>{{player.points}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn btn-warning" *ngIf="!isPlayer" (click)="endGame()">End Game</button>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col col-red">col</div>
      <div class="col col-red">col</div>
      <div class="col" (click)="open(2)">col</div>
      <div class="col" (click)="open(3)">col</div>
      <div class="col" (click)="open(4)">col</div>
    </div>
    <div class="row">
      <div class="col col-red">col</div>
      <div class="col" (click)="open(6)">col</div>
      <div class="col" (click)="open(7)">col</div>
      <div class="col" (click)="open(8)">col</div>
      <div class="col" (click)="open(9)">col</div>
    </div>
    <div class="row">
      <div class="col" (click)="open(10)">col</div>
      <div class="col" (click)="open(11)">col</div>
      <div class="col" (click)="open(12)">col</div>
      <div class="col" (click)="open(13)">col</div>
      <div class="col" (click)="open(14)">col</div>
    </div>
    <div class="row">
      <div class="col" (click)="open(15)">col</div>
      <div class="col" (click)="open(16)">col</div>
      <div class="col" (click)="open(17)">col</div>
      <div class="col" (click)="open(18)">col</div>
      <div class="col col-blue">col</div>
    </div>
    <div class="row">
      <div class="col" (click)="open(20)">col</div>
      <div class="col" (click)="open(21)">col</div>
      <div class="col" (click)="open(22)">col</div>
      <div class="col col-blue">col</div>
      <div class="col col-blue">col</div>
    </div>
  </div>
</div>