<div class="container-fluid">
  <aside class="sidebar">
    <h1>Game leader board</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of game.teams">
          <td>{{team.teamLeader}}</td>
          <td>{{team.points}}</td>
        </tr>
      </tbody>
    </table>
  </aside>
  <aside class="sidebar2">
    <h1>Team leader board</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of game.teams[0]?.players">
          <td>{{player.name}}</td>
          <td>{{player.points}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn btn-warning" *ngIf="!isPlayer" (click)="endGame()">End Game</button>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col red"></div>
      <div class="col red"></div>
      <div class="col white" (click)="open(2); addClass(2)"></div>
      <div class="col white" (click)="open(3); addClass(3)"></div>
      <div class="col white" (click)="open(4); addClass(4)"></div>
    </div>
    <div class="row">
      <div class="col red"></div>
      <div class="col white" (click)="open(6); addClass(6)"></div>
      <div class="col white" (click)="open(7); addClass(7)"></div>
      <div class="col white" (click)="open(8); addClass(8)"></div>
      <div class="col white" (click)="open(9); addClass(9)"></div>
    </div>
    <div class="row">
      <div class="col white" (click)="open(10); addClass(10)"></div>
      <div class="col white" (click)="open(11); addClass(11)"></div>
      <div class="col white" (click)="open(12); addClass(12)"></div>
      <div class="col white" (click)="open(13); addClass(13)"></div>
      <div class="col white" (click)="open(14); addClass(14)"></div>
    </div>
    <div class="row">
      <div class="col white" (click)="open(15); addClass(15)"></div>
      <div class="col white" (click)="open(16); addClass(16)"></div>
      <div class="col white" (click)="open(17); addClass(17)"></div>
      <div class="col white" (click)="open(18); addClass(18)"></div>
      <div class="col blue"></div>
    </div>
    <div class="row">
      <div class="col white" (click)="open(20); addClass(20)"></div>
      <div class="col white" (click)="open(21); addClass(21)"></div>
      <div class="col white" (click)="open(22); addClass(22)"></div>
      <div class="col blue"></div>
      <div class="col blue"></div>
    </div>
  </div>
</div>