<div class="container-fluid">
<aside class="sidebar"><h1>Game leader board</h1></aside>
<aside class="sidebar2"><h1>Team leader board</h1></aside>
<div class="container">
  <div class="row">
    <div class="col col-red">col</div>
    <div class="col col-red">col</div>
    <div class="col ">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
    <div class="col col-red">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col col-blue">col</div>
  </div>
  <div class="row">
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col col-blue">col</div>
      <div class="col col-blue">col</div>
    </div>
</div>
</div>
