<div class="container-fluid" align="center">
  <h2>
    {{question?.text}}
  </h2>
  <form class="form-signin" id="submitTicket" (ngSubmit)="submitAnswer()">
    <table class="table-bordered">
      <tr>
        <td>
          <label>
            <input type="radio" [(ngModel)]="selected" value=1 name="option">
          </label>
        </td>
        <td>
          <h3>{{question?.option1}}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input class="form" type="radio" [(ngModel)]="selected" value=2 name="option">
          </label>
        </td>
        <td>
          <h3>{{question?.option2}}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="radio" [(ngModel)]="selected" value=3 name="option">
          </label>
        </td>
        <td>
          <h3>{{question?.option3}}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="radio" [(ngModel)]="selected" value=4 name="option">
          </label>
        </td>
        <td>
          <h3>{{question?.option4}}</h3>
        </td>
      </tr>
    </table>
    <button class="btn btn-lg btn-primary " type="submit">Submit</button>
  </form>
</div>
