<div class="container form-cont">
  <form #newRequestForm="ngForm">
    <h2>Instructor Sign in</h2>
    <br>
    <div class="form-row one">
      <label>
        Instructor Username:
      </label>
      <br>
      <input class="text" required name="name"[(ngModel)]="name">

    </div>
    <div class="container btn-cont">
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" (click)="startGame()" [disabled]="!newRequestForm.form.valid">Begin</button>
    </div>
  </form>
</div>