<div class="container form-cont">
  <p id="alert">
    <ngb-alert  [dismissible]="false">
      <strong>Warning!</strong> Please wait while your game loads.
    </ngb-alert>
    <img class="loading"src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="loading">
  </p>
  <form #newRequestForm="ngForm">
    <h2>Instructor Sign in</h2>
    <br>
    <div class="form-row one">
      <label>
        Instructor Username:
      </label>
      <br>
      <input class="text form-control" required name="name" [(ngModel)]="name">

    </div>
    <div class="container btn-cont">
      <button class="btn btn-lg btn-outline-primary " type="submit" (click)="show();startGame()" [disabled]="!newRequestForm.form.valid">Begin</button>
    </div>
  </form>
</div>