.form-header{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}
.form-container{
  margin-top: 3em;
  width: 50%;
  animation:fadeIn 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
}



.blue {
  background-color: blue;
  color:whitesmoke;
  
}

.red{
  background-color: red;
  color:whitesmoke;
}
table{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
}
.game{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  text-align: center;
  animation:
    typing 3.5s steps(30, end),
    dis 2.5s step-end ,
    wraps 3s step-end;

}


h2{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px #3527fe,
  2px 2px lightpink,
  3px 3px red;

}
h3{
  padding-top: .5em;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
h5{
  padding-top: .5em;
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes dis {
  from{border-right: .15em solid black; /* The typwriter cursor */}
  to{border-right: none}
}
@keyframes wraps {
  from{white-space: nowrap /* Keeps the content on a single line */}
  to{white-space: pre-wrap}
}

.container{
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  margin-top: 6%;
  width:70%;
  order:1;
  margin-bottom: 6%;
  -webkit-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
}
