<div class="container">
  <h2 class="game">You scored {{points}} points this round!</h2>
  <h3>Please wait for everyone else on your team to finish.</h3>
  <h5>While you wait, here's how everyone else on your team is doing!</h5>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="cookie.getObject('team') == '0' else a">
            <tr *ngFor="let player of game.teams[0]?.players">
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
            </tr>
          </ng-container>
          <ng-template #a>
            <tr *ngFor="let player of game.teams[1]?.players">
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
          </ng-template>
    </tbody>
  </table>
</div>
